<!DOCTYPE html>
<html>
    <body style="height: 100%">
    <table border="0" cellpadding="20" cellspacing="20" width="100%" id="bodyTable">
        <tr>
            <td valign="top">
                <table border="0" cellpadding="20" cellspacing="0" width="600" id="emailContainer">
                    <tr>
                        <td valign="top">
                           <table border="0" cellpadding="20" cellspacing="0" width="100%" id="emailHeader">
                               <tr>
                                   <td valign="top">
                                       <div class="header" style="background-color:#190e14">
                                           <<h1 style="color: #FFFFFF;">
                                               <i style="position: relative;top: 4px;left: 4px;"><img height="20" width="32" src="{{ image_logo }}"></i>Musée du louvre
                                           </h1>
                                       </div>
                                   </td>
                               </tr>
                           </table>
                        </td>
                    </tr>
                    <tr>
                        <td valign="top">
                            <table border="0" cellpadding="20" cellspacing="0" width="100%" id="emailBody" style="margin-top: -20px;">
                                <tr>
                                    <td valign="top">
                                        <div class="intro">
                                            <h2>{{ billing.token }}</h2>
                                            <p>Bonjour {{ billing.name }} {{ billing.surname }} cet email contient l'ensemble des billets que vous avez commandé,
                                                nous avons hâte de vous recvoir le {{ visit_day }}  pour votre viste au musée du Louvre.
                                            </p>
                                        </div>
                                        <div class="order_summary">
                                            <h3>Détails de votre commande</h3>
                                            <ul style="list-style-type: none;margin-left: 0;padding: 0">
                                                <li>Nombre de billets   : <strong>{{ billing.numberOfTickets}}</strong></li>
                                                <li>Billets valable le  : <strong>{{ visit_day }}</strong></li>
                                                <li>Prix de la commande : <strong>{{ billing.price }} €</strong></li>
                                            </ul>
                                        </div>
                                        <table border="0" cellpadding="20" cellspacing="0" width="100%" id="emailBody" style="display: flex">
                                            <tr>
                                                {% for ticket in ticket_list  %}
                                                <td valign="top" width="40%">
                                                    <div class = "ticket_details " style="text-align: center;margin: 5px;background-color:#7b7b7b">
                                                        <img width="100%" src="{{ ticket_img }}">
                                                        <h3 style="color: #FFFFFF;">{{ ticket.name }} {{ ticket.surname }}</h3>
                                                        <p style="color: #FFFFFF;">{{ ticket.priceType }}</p>
                                                        <p style="color: #FFFFFF;">{{ ticket.price }} €</p>
                                                        <p style="color: #FFFFFF;">{{ ticket.timeAccessType }}</p>
                                                        <p class="ref" style="font-size:0.7em;">{{ ticket.token }}</p>
                                                    </div>
                                                </td>
                                                {% endfor %}
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    </body>
</html>






